*{
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #ddd;
}
main{
  max-width: 360px;
  margin: 0 auto;
  
}

h1{
  text-align: center;
  color:#fff;
  margin: 0;
}

form{
  margin-top:20px;
}
.basic{
  gap: 2px;
  margin: 4px;
}

.description{
  margin: 4px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
  

}

form input[type="datetime-local"]{

  color: #777;
}

form div.basic{
  display: flex;
}

form button{
 width: 100%;
 margin-top: 5px;
}

.transaction{
  margin: 10px;
  display:flex;
  justify-content: space-between;
}